

<div> <%= link_to other_box.capitalize, conversations_path + "?box=#{other_box}" %> </div>

<h1><%=@box.capitalize%></h1> 
<p> From | Subject | Body </p>

<% @conversations.each do |conversation| %>
  <% receipts = conversation.receipts_for(current_user) %>
    <% receipts.each do |receipt| %>
      <br> <%= receipt.message.sender.name %> | <%= receipt.message.subject%> | <%=link_to receipt.message.body, message_path(receipt.message.id)%> 
      <% if receipt.is_unread? or receipt.message.is_unread?(current_user) %>
        <%= "Unread" %>
        <% end %>
    <% end %>
<%end%>