

<div class="row">
  <div class="columns large-6 small-2">
    <h3><%=@box.capitalize%></h3>
  </div>
  <div class="columns large-6 small-10">
  <%= render 'shared/msg_nav'%>
  </div>
</div>
<div class="row">
  <div class="columns large-12 small-12">
    <table class="responsive">
      <thead>
        <tr>
          <th>Sender</th>
          <th>Subject</th>
          <th>Preview</th>
          <th>Status</th>
          <th>Reply</th>
          <th><%=del%></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>Sender</td>
          <td>Subject</td>
          <td>Preview</td>
          <td>Status</td>
          <td>Reply</td>
          <td><%=del%></td>
        </tr>
      </tfoot>
      <tbody>
        <% @conversations.each do |conversation| %>
          <% receipts = conversation.receipts_for(current_user) %>
            <% receipts.each do |receipt| %>
              <tr>
                <td><%= link_to receipt.message.sender.name, user_path(receipt.message.sender.id)  %> </td>
                <td><%= receipt.message.subject%></td>
                <td><%=link_to receipt.message.body.truncate(50), conversation_path(conversation.id)%>
                </td>
                <td>
                  <% if receipt.is_unread? or receipt.message.is_unread?(current_user) %>
                    <%= "Unread" %>
                  <% else %>
                    <%= "Opened" %>
                  <% end %>
              </td>
              <td><%= link_to '', new_message_path(receiver: 1, conversation: conversation.id), class: 'fa fa-reply' %></td>
              <td>  
                <%= if  @box == 'trash' then "TRUE" else link_to '', "conversations/#{conversation.id}", class: 'fa fa-trash-o', method: :delete end%>
              </td>
            </tr>
          <% end %>
        <%end%>
      </tbody>
    </table>
  </div>
</div>


