<%= params %>
<h3><%= @conversation.subject   %></h3><%= link_to ' Delete Conversation', destroy_path(conversation: @conversation.id), class: "fa fa-trash-o" %>

<div class="row">
  <% messages_in_conversation.each do |msg| %>
    <div class="small-2 columns"><p><%= msg.message.sender.name %></p></div>
    <div class="small-10 columns"><p><%= msg.message.body %></p></div>
  <% end %>
</div>

<br> <%= link_to ' Reply', new_message_path(conversation: @conversation.id), class: 'fa fa-reply' %>


