<!-- - - - - - - - - - - - - - MESSAGES - - - - - - - - - - - -->

<%if users_unread_message_count > 0 %>
  <div class="row">
    <div class="large-3 large-centered columns">
      <div data-alert class="alert-box large-12 round">
        <%= link_to "You have  #{users_unread_message_count} Unread Messages", conversations_path, :class => 'label'  %>
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
<% end %>




<!-- - - - - - - - - - - - - - USER INFO - - - - - - - - - - - -->

<div class = "row">
  <div class = "large-12 columns">

<!-- creates block grid (3 panels wide for large screen, 1-wide for mobile) -->
    <ul class="small-block-grid-1 large-block-grid-3">
      <% current_user.comparisons.order('match_percent').reverse.each do |friendship| %>
      <% this_user_id = friendship.compared_user.id %>
        <!-- - - - - - - - - - - - - - LOGGED IN USER INFO CARD - - - - - - - - - - - -->
        <li>
          <div class="logged-in-panel">
            <div class="panel-container">
          <!-- - - - - - - - - - - - user graphic + match% bar - - - - - - - -->
              <div class="row">
                <div class="large-4 columns">
                  <%if  User.find(this_user_id).xbox_gamer_info.present? %>
                    <%= image_tag(User.find(this_user_id).xbox_gamer_info.avatar_img_url, size: '100x200') %>
                  <% else %>
                     <%= image_tag "http://i.imgur.com/QuPFm0i.png", size: '100x200' %>
                  <% end %>
                </div>

                <div class="large-8 columns">
                  <%= friendship.match_percent > 0.49 ? "Great Match" : "Feeling lucky?"%>
                  <div class="progress large-12 success">
                    <span class="meter" style="width: <%=friendship.match_percent*100%>%"></span>
                    <% friendship.match_percent %>
                  </div>
                  <a href="#" data-reveal-id="myModal" class="button secondary small">Message <%=friendship.compared_user.name%></a>
                </div>
              </div>

              <!-- - - - - - - - - - - - user name row + gamer tag + gamer reputation - - - - - - - -->
              <div class = "row">
                <div class = "large-12 columns">
                  <hr>
                  <p> Name: <%= link_to friendship.compared_user.name, user_path(friendship.compared_user.id) %></p>
                  
                  <p>
                    <% if friendship.compared_user.xbox_gamer_info.present? %>
                      <%= "Xbox Live: #{friendship.compared_user.xbox_gamer_info.gamertag}" %>
                      <br>
                      <%= "Reputation: #{friendship.compared_user.xbox_gamer_info.reputation_score}" %>
                      <br>
                      <%= "Has Recently Played GTA V?: #{friendship.compared_user.xbox_gamer_info.hasgtav}" %>
                    <%end%>
                  </p>
                </div>
              </div>

              <!-- - - - - - - - - - - Question ROW - - - - - - - - - - -->
              <div class="row">
                <div class = "large-12 columns">
                  
                  <%if Question.find(4).responses.find_by_user_id(this_user_id).present? %>
                    <%= "#{Question.find(4).inquiry}: #{Question.find(4).responses.find_by_user_id(this_user_id).answer.choice}" %>
                  <% end %>

                </div>
              </div>            
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- - - - - - - - - MESSAGE ME ROW - - - - - - - - - -  -->
              
              
<div id="myModal" class="reveal-modal">
  <%= render '/shared/compose' %>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - -->




