
<div class = "hero-container">
  <div class = "row">
    <div class = "large-12 columns">
      <div class = "hero-action">
        <%= image_tag "OkGamerLogo.png" %>
        <h4 class="subheader"> OKGamer Matches You With Players Who Share Your Gaming Personality </h4>

        <%= link_to "Sign Me Up!", new_user_registration_path, class: "large button expand" %> 
      </div>    
    </div>
  </div>
</div>




<!-- - - - - - - - - HERO 1 - - - - - - -->
<div id = "hero-top">
  <div class = "hero-copy">
    <h2>
      <span>IT'S A LONELY WORLD OUT THERE<span>
    </h2>
  </div>
</div>



<div class = "hero-graphic-1"></div>

<!-- - - - - - - - HERO 2- - - - - - - -->

<div id = "hero-first">
  <div class = "hero-copy">
    <h2>
      <span>TIRED OF PLAYING WITH YOURSELF?<span>
    </h2>    
  </div>  
</div>  



<div class = "hero-graphic-2"></div>


<!-- - - - - - - -HERO 3- - - - - - - - -->

<div id = "hero-second">
  <div class = "hero-copy">
    <h2>
      <span>FIND PLAYERS WHO WANT YOU ON THEIR SIDE<span>
    </h2>
  </div>   
</div> 


<div class = "hero-graphic-3"></div>



<!-- - - - - - - - -DIVIDER- - - - - - - -->
<div class = "hero-divider"><p></p></div>






<!-- - - - - - - - - - - - - - - - - - - - -->


<div class = "row">
  <div class = "large-12 columns">
    <div class = "hero-action">
      <%= image_tag "logo.png", size: '100x200' %>
      <h2 class="subheader"> Ok. Let's do this: </h2>
      <%= link_to "Sign Me Up!", new_user_registration_path, class: "large button expand" %> 
 
    </div>    
  </div>
</div>




<!-- - - - - - - - USER INFO GRID - - - - - - - - -->


<div class ="row">
  <div class = "large-12 columns">
    <div class = "newest-members">
      <h2> Newest Members of Our Community </h2>
    </div>


    <ul class="large-block-grid-2">
      <% @users.each do |gamer| %>
        <li>
          <div class="panel-public">
            <div class="row">
              <div class="small-4 large-4 columns">
                <%= image_tag "userplaceholder.png", size: '100x200' %>
              </div>

              <div class="small-8 large-8 columns"> 
                <h5><%= link_to gamer.name, user_path(gamer.id) %> </h5>
                <p> 
                  <%if Question.find(2).responses.find_by_user_id(gamer.id).present? %>
                    <%= "#{Question.find(2).inquiry}: #{Question.find(2).responses.find_by_user_id(gamer.id).answer.choice}" %> 
                    <% end %>
                </p>
              </div>
            </div>     
          </div> 
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- _______________________________________________ -->

