<h1><%=@user.name %></h1>


<% if current_user_is_owner? %>
  <%= render 'my_profile' %>
<% else %>
  <%= render 'auth_profile' %>
<% end %>
<div class= "MyAnswers">
  <dl> <h3>My Answers</h3>
    <% Question.all.each do |question| %>
      <dt><%= question.inquiry %> </dt>
      <dd><%= question.responses.find_by_user_id(params[:id]).answer.choice %></dd>
    <% end %>
  </dl>
</div>