<h1><%=@user.name %></h1>

<h3> Who should I game with? </h3>
<div class="matches" >
  <table>
    <thead>
      <tr>
        <th>Users Matches</th>
        <th>Match Score</th>
      </tr>
    </thead>
    <tbody>
      <% @sorted_matches.each do |similarity|  %>
        <tr>
          <td><%= similarity.compared_user.email  %></td>
          <td><%= similarity.match_percent %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="Profile">


</div>

<div class= "MyAnswers">
  <dl> <h3>My Answers</h3>
    <% Question.all.each do |question| %>
      <dt><%= question.inquiry %> </dt>
      <dd><%= question.responses.find_by_user_id(params[:id]).answer.choice %></dd>
    <% end %>
  </dl>
</div>
