
<div class = "row">
  <!-- - - - - - - - My Matches - - - - - - - -->
  <div class = "large-4 columns">
    <div class = "my-matches">
      <% if current_user_is_owner? %>
        <%= render 'my_profile' %>
      <% else %>
        <%= render 'auth_profile' %>
      <% end %>
    </div>
  </div>

  <!-- - - - - - - - My Answers - - - - - - - -->
  <div class = "large-8 columns">
    <div class="my-answers">
      <h2 class="subheader"><%=@user.name %>'s Answers</h2><hr>

        <% Question.all.each do |question| %>
          <h3 class="subheader">
            <%= question.inquiry %>
          </h3>

          <h5 class="subheader">

              - <%= question.responses.find_by_user_id(params[:id]).answer.choice %>

          </h5>
        <% end %>
    </div>    
    </div>
  </div>




