<% flash.each do |name, msg| %>  
  <div data-alert class="alert-box <%=name %>">
     <%=msg %>
     
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<dl class="sub-nav">
<!-- <dt></dt> -->
  <dd><%= link_to 'Compose', new_message_path %></dd>
  <dd><%= link_to 'Inbox', conversations_path + "?box=inbox" %></dd>
  <dd><%= link_to 'Sent', conversations_path + "?box=sentbox" %></dd>
  <dd><%= link_to 'Trash', conversations_path + "?box=trash" %></dd>
</dl>