<div class="row">
  <div class="columns small-12 large-8">
    <h1 style="margin-bottom:0">Tell us all your Information</h1>
    <h5 style="margin-top:0"><small>(don't worry the NSA already has it)</small></h5>
    <!-- begin xbox lookup form -->
    <%= form_tag ('/xbox_gamer_info'), method: :post, remote: true  do %>
      <label for="tag"><h3 class="subheader" id:"xboxtag">Your current Xbox Live Gamer Tag</h3></label>
      <div class="row">
        <div class="large-8 small-7 columns">
          <input id="tag" type="text" name="xbox_gamertag" placeholder="<%= current_user.xbox_gamer_info.gamertag if current_user.xbox_gamer_info.present? %>">
        </div>
        <div class="large-3 small-4 columns">
          <input type="submit" value="Lookup" id="xbox-get" class="button postfix secondary">
        </div>
         <div class='large-1 small-1 columns'>
          
        </div> 
        
      </div>
      <div class="row">
        <div class="columns large-10"> 
          
          <span id="feedback">
            <!-- ajax request places feedback on status here: on submit a pending message, on success a success message, have not built a failure message -->    
          </span>
      </div>
      </div>
    <% end %> <!-- end xbox lookup form -->
 
      <!-- not implemented: <span class="alert-box alert">Invalid XBOX Live</span> -->
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <ul class="no-bullet" >
      <%= form_tag ("/users/#{current_user.id}/responses/bulk_update"), method: :put do %>
        <% counter = 0 %>
        <% @questions.each do |question| %>
        <hr>
          <li><h3 class="subheader"><%= question.inquiry %>?</h3>
            <ul class="no-bullet">
              <% question.answers.each do |answer| %>
                <li>
                  <label for="<%=question.id%>"><%= radio_button_tag "answer#{counter}", answer.id, (current_user.responses.where(answer: answer).count > 0) %>  <%=answer.choice%></label>
                  
                </li>
              <% end %>
              <% counter += 1 %>
            </ul>
          </li>
          <input type="hidden" value="<%=params[:user_id]%>">
        <% end %>
        <%= submit_tag 'submit', class: "button secondary" %>
      <% end %>
    </ul>
  </div>
</div>
