<!DOCTYPE html>
<html>
<head>
  <title>Gamerfinder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Poller+One' rel='stylesheet' type='text/css'>
</head>
<body>
  
<!-- - - - - - - - - MAIN HEADER - - - - - - - - - -->

  <% if user_signed_in? %> 
    <%= render :partial => 'shared/auth_nav' %>
  <% else %> 
     <%= render :partial => 'shared/public_nav' %>
  <% end %>

<!-- - - - - - - - - RAILS ALERTS - - - - - - - - - -->

<div class = "alerts">
  <p.notice= notice unless notice.blank?>
  <p.alert= alert unless alert.blank?>
</div>






<!-- - - - - - - - - - - MAIN LOAD- - - - - - - - - - - - - -->

<%= yield %>


<!-- - - - - - - - - - - - - - - - - - - - - - - - -->
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>



</body>
</html>
