<!DOCTYPE html>
<html>
<head>
  <title>Gamerfinder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>

  <% unless user_signed_in? %>
    <%= render :partial => 'shared/nav' %>
  <% else %> 
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>

  <div class = "row">
    <div class = "large-12 columns">
      <p.notice= notice unless notice.blank?>
      <p.alert= alert unless alert.blank?>
      <%= yield %>


      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    </div>
  </div>



</body>
</html>
